<ion-view view-title="Info">
    <ion-content>
        <img src="img/logo.png" style="width:100%;margin-top:50px;"/>

        <p class="padding text-center">
            <small>Deze app toont dezelfde informatie als de website. Aan de informatie in deze app kunnen geen rechten
            worden ontleent. De getoonde informatie is afhankelijk van de gegeven informatie door de individuele dojos.</small>
        </p>

        <div class="row">
            <div class="col">
                <a href="#" ng-click="openWebsite()" target="_blank" class="button button-positive button-block icon-left ion-home">Website</a>
            </div>
            <div class="col">
                <a href="mailto: contact@coderdojo.nl" class="button button-positive button-block icon-left ion-email">E-mail</a>
            </div>
        </div>

        <p class="padding text-center">
            <a href="https://github.com/CoderDojoNederland/MobileApp" target="_blank">Mee bouwen aan deze app?</a>
        </p>
    </ion-content>
</ion-view>